<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/2.1.0/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.js"></script>
</head>
<body>
<div>
    <div class="jumbotron">
  <h1>数据预览功能</h1>
  <p>By 第四范式建模工程师</p>
  <p><a class="btn btn-primary btn-lg" href="http://www.4paradigm.com" role="button">Learn more</a></p>
</div>
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <input type="text" id="file_path" class="form-control" placeholder="请填写文件路径">
                <span class="input-group-btn">
        <button id="submitone"class="btn btn-default" type="button">Go!</button>
      </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
    <br>
    <br>
    <div id="tablediv">

    </div>
</div>
<script>
    function obj_length(obj) {
        var objType = typeof obj;
        if (objType == "string") {
            return obj.length;
        } else if (objType == "object") {
            var objLen = 0;
            for (var i in obj) {
                objLen++;
            }
            return objLen;
        }
        return false;
    }

    function createTable(data) {
        tableNode = document.createElement("table");
        tableNode.setAttribute("id", "table");
        tableNode.setAttribute("class","table");
        var row = 0;
        for (var object_data in data) {
            row = obj_length(data[object_data]);
            break;
        }
        var col = 0;
        col = obj_length(data);
        if (row <= 0 || isNaN(row)) {
            alert("行号有误！");
            return;
        }
        if (col <= 0 || isNaN(col)) {
            alert("列号有误!");
            return;
        }

        var title = new Array();
        var index = 0;
        for (var object1 in data) {
            title[index] = object1;
            index++;
        }
        for (var var_row = 0; var_row < row; var_row++) {
            var trNode = tableNode.insertRow();
            for (var var_col = 0; var_col < col; var_col++) {
                var tdNode = trNode.insertCell();
                if (var_row == 0) {
                    tdNode.innerHTML = title[var_col];
                } else {
                    tdNode.innerHTML = data[title[var_col]][var_row];
                }
            }
        }
        document.getElementById("tablediv").appendChild(tableNode);
    }
    $("#submitone").click(function () {
        var file_path = $("#file_path").val();
        alert(file_path);
        $.ajax({
            url: "/upload",
            dataType: "json",
            type: "get",
            data: {
                file: file_path
            },
            success: function (data) {
                var table_col = obj_length(data);
                var table_row = 0;
                console.log(obj_length(data));

                for (var object_data in data) {
                    table_row = obj_length(data[object_data]) + 1;
                    break;
                }
                createTable(data);
                for (var object1 in data) {
                    for (var data_a in data[object1]) {
                        console.log(data[object1][data_a]);
                    }
                }

            }
        })
    })
</script>
</body>
</html>